@import 'colors';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', Helvetica, sans-serif;
	box-sizing: border-box;
	
}
  
/* Assign grid instructions to our parent grid container, mobile-first (hide the sidenav) */
.grid-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 50px 1fr 50px;
	grid-template-areas:
	  'header'
	  'main'
	  'footer';
	height: 100vh;

	.menu-icon {
	position: fixed; /* Needs to stay visible for all mobile scrolling */
	display: flex;
	top: 5px;
	left: 10px;
	align-items: center;
	justify-content: center;
	background-color: $light-grey;
	border-radius: 50%;
	z-index: 1;
	cursor: pointer;
	padding: 12px;
  	}

  	.header {
	grid-area: header;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 16px;
	background-color: $secondary-color;

		.banner {
			color: $blue;
			margin-left: 100px;
			font: 3em Helvetica;
		}
 	}

}
  
.sidenav {
	grid-area: sidenav;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 240px;
	position: fixed;
	overflow-y: auto;
	transform: translateX(-245px);
	transition: all .6s ease-in-out;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
	z-index: 2; /* Needs to sit above the hamburger menu icon */
	background-color: $primary-color;
}
  
  .sidenav__list {
	padding: 0;
	margin-top: 85px;
	list-style-type: none;
  }
  
  .sidenav__list-item {
	padding: 20px 20px 20px 40px;
	color: $light-grey;
	a {
		text-decoration: none;
		color: $light-grey;
	}
  }

  .greeting {
	padding: 20px 20px 20px 40px;
	color: $light-grey;
	font-size: large;
  }
  
  .sidenav__list-item:hover {
	background-color: rgba(255, 255, 255, 0.2);
	cursor: pointer;
  }
  
  .main {
	grid-area: main;
	background-color: $yellow;
  }
  
  .footer {
	grid-area: footer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 16px;
	background-color: $blue;
	color: $secondary-color;
  }
  
  /* Non-mobile styles, 750px breakpoint */
  @media only screen and (min-width: 46.875em) {
	/* Show the sidenav */
	.grid-container {
	  grid-template-columns: 240px 1fr;
	  grid-template-areas:
		"sidenav header"
		"sidenav main"
		"sidenav footer";
	}
  
	.sidenav {
	  position: relative;
	  transform: translateX(0);
	}
  
  }

  .fa-bars:before {
    content: "\f0c9";
	color: $primary-color;
}
.login-page {
    width: 360px;
    padding: 2% 0 0;
    margin: auto;

    .form {
        position: relative;
        background: white;
        max-width: 360px;
        padding: 45px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

        input {
            outline: 0;
            background: #f2f2f2;
            width: 100%;
            border: 0;
            margin: 0 0 15px;
            padding: 15px;
            box-sizing: border-box;
            font-size: 14px;
        }

        .message {
            margin: 15px 0 0;
            color: $grey;
            font-size: 12px;

            a {
                color: $secondary-color;
                text-decoration: none;
            }
        }

        .register-form {
            label {
                display: inline-block;
                padding-right: 10px;
                white-space: nowrap;
            }
        }
    }
}
.form button {
	text-transform: uppercase;
	outline: 0;
	background: $blue;
	width: 100%;
	border: 0;
	padding: 15px;
	color: white;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
	background: $secondary-color;
}